body {
    max-width: 100%;
    overflow-x: hidden;
    padding:0%;
    margin:0%;
    background-color: #EDE1CB;
    font-family:century gothic;
}

.logg_in_style {
    display:flex;
    align-items:center;
    justify-content:center;
}

#fname {
    padding:13px;
    width:400px;
}

#lname {
    padding:13px;
    width:400px;
}